@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    color: white;
}
.container{
    max-width: 1200px;
    margin: auto;
}





/* navbar section */
.nav-bar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000000;
    border-bottom: .5px solid #ffffff52;
    line-height: 5rem;
    display: flex;
    justify-content: space-around;
}
.right-nav{
    display: flex;
    list-style: none;
}
.name{
    font-size: 2.2rem;
}
.name:hover {
   animation: fade-in 3s ease;
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
.nav-bar li a{
    padding: 0.7rem;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.nav-bar li a:hover{
    background-color: white;
    color: #1f1f38;
    border-radius: 10px;
    transition: all ease-out;
    transition-duration: 0.4s;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
}





/* hero section */
.hero{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.left-side{
    width: 65%;
    padding: 20px;
}
.left-side h1, h5, h3{
    margin: 10px;
    letter-spacing:  5px;
}
.left-side h1{
    font-size: 4rem;
}
.left-side h5,h3{
    font-size: 1.5rem;
    color: #65656d;
}

.heroimg{
    position: relative;
    width: 300px;
    margin-top: 70px;
    border-radius : 10%;
    margin-left: 60px;
    border: 8px solid white;
    animation: borderchange 5s ease infinite;
}

.heroimg:hover{
    animation: borderchange 5s ease infinite;
    animation: bounce 2s ease infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-70px);}
	60% {transform: translateY(-15px);}
}
@keyframes borderchange {
  0% {
    border: 8px solid rgba(255, 255, 255, 0.5);
  }
  25% {
    border: 8px solid rgba(127, 127, 127, 0.5);
  }
  50% {
    border: 8px solid rgba(0, 0, 0, 0.5);
  }
  100% {
    border: 8px solid white;
  }
}
.buttons{
    display: inline;
}
.btn{
    width: 100px;
    height: 50px;
    border-radius: 0.7rem;
    margin: 10px;
    background: transparent;
    color: white;
    border-color: #ffffff;
}
.button2{
    background-color: white;
    color:#000000;
}
.button1:hover{
    background-color: white;
    color: #000000;
    transition: all ease-out;
    transition-duration: 0.5s;
}
.button2:hover{
    background: transparent;
    border-color: white;
    color: #ffffff;
}
.social-media1 a{
display :inline-flex;
justify-content:center;
align-items:left;
width:3rem;
height:3rem;
background : transparent;
border : .2rem solid #ffffff;
border-radius: 50%;
font-size : 2rem;
color : white;
margin: .3rem 1.5rem 3rem 0;
transition : .5s ease;
}
.social-media1 a:hover{
background : #ffffff;
color : #000000;
boxshadow : 0 0 1rem #000000


}




/* About Me */
#about-me{
           background-color : rgba(127, 127, 127, 0.1);}
.title{
    text-align: center;
    font-size: 1.7rem;
    margin: 40px;
}
.about-container img{
    width: 450px;
    margin: 30px;
    border-radius: 50px;
    border: 10px solid #2e2e83;
    animation: borderchange 5s ease infinite;
}
.about-content{
    width: 600px;
    border:1px solid white;
    border-radius: 50px;
    padding: 30px;
    background-color: ;
    margin: 30px auto;
}
.about-content>*{
    margin: 20px;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about-container h1{
    font-size: 2rem;
}
.about-container p{
    font-size: 1.3rem;
    font-family: poppins;
}





/* skills section */
.skills-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.skills-right img{
    width: 500px;
    position: relative;
    
}
.skills-right img:hover {
    animation: shake 1s ease;
}
@keyframes shake {
    30% { transform: scale(1.05); }
    40%, 60% { transform: rotate(-5deg) scale(1.05); }
    50% { transform: rotate(5deg) scale(1.05); }
    70% { transform: rotate(0deg) scale(1.05); }
    100% { transform: scale(1); }
}
.skills-left{
    width: 600px;
    border-radius: 50px;
    padding: 30px;
}
.skills-left .bar{
    margin: 30px 0;
}
.skills-left .bar:first-child{
    margin-top:0;
}

.skills-left .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #c8c7c7;
    border-radius: 10px;
    
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: white;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    animation:1s forwards;
    transform-origin:left;
    animation-name: animate;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.bar .progress-line span::before{
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    width: 0;
    top:-10px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: white;
}

.bar .progress-line span::after{
    position: absolute;
    content: "10%";
    width: 40px;
    right: 0;
    top:-28px;
    background: white;
    color: black;
    border-radius: 10px;
    padding:2px;
}

.bar .progress-line.html span{
    width: 90%;
}
.bar .progress-line.css span{
    width: 80%;
}
.bar .progress-line.javascript span{
    width: 40%;
}
.bar .progress-line.python span{
    width: 70%;
}.bar .progress-line.cpp span{
    width: 70%;
}
.bar .progress-line.sql span{
    width: 50%;
}
.bar .progress-line.android span{
    width: 90%;
}
.bar .progress-line.kotlin span{
    width: 50%;
}
.bar .progress-line.java span{
    width: 80%;
}



.bar .progress-line.html span::after{
    content: "90%";
}
.bar .progress-line.css span::after{
    content: "80%";
}
.bar .progress-line.javascript span::after{
    content: "40%";
}
.bar .progress-line.python span::after{
    content: "70%";
}
.bar .progress-line.cpp span::after{
    content: "70%";
}
.bar .progress-line.sql span::after{
    content: "50%";
}
.bar .progress-line.android span::after{
    content: "90%";
}
.bar .progress-line.kotlin span::after{
    content: "50%";
}
.bar .progress-line.java span::after{
    content: "80%";
}





/* Projects Section */



#projects{
background-color :rgba(127, 127, 127, 0.1);



}
.all-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    width: 15rem;
    height: 18rem;
    background-color: #919191;
    border-radius: 50px;
    margin: 1rem 1rem;
}
.project h1{
    text-align: center;
    margin: 1rem;
}
.project img{
    width: 100%;
    height: 70%;
    border-radius: 50px;
}
.project:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
}


/* contact section*/
.form{
    max-width: 350px;
    margin: 0 auto;
    padding: 10px;
}
.form input{
    width: 100%;
    height: 40px;
    background: transparent;
    color: #868693;
    border-radius: 10px;
    border:5px solid #2f537d;
    padding: 5px;
}
textarea{
    width: 100%;
    background: transparent;
    color: #868693;
    border-radius: 10px;
    border:5px solid #2f537d;
    padding: 5px;
}
form > *{
    margin: 15px 0;
}

.formbtn{
    width: 100%;
    border:5px solid #2f537d;
    margin: 0;
}





/* footer  section*/
.footer{
    width: 100%;
    height: 200px;
    
    background-color:rgba(127,127,127,0.5);
}
.footer-nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-nav li a{
    text-decoration: none;
    color: white;
    font-family: poppins;
    
}
.footer-nav li{
    list-style: none;
    margin-top: 20px;
}
.footer h2{
    text-align: center;
    font-family: poppins;
    margin-top: 20px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    margin: .3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #ffffff;
    color: #000000;
    boxshadow: 0 0 1rem #000000
}
    


/* scroll-top */
#scroll-top {
    background-color: #ffffff;
    color: #151527;
    padding: 9px;
    border-radius: 9px;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 1rem;
    right: 4%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
}
.wave svg{
    opacity: 3px;
}




